/* Minimal global CSS for Adventscalendar */

html {
  padding: 1rem;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  color-scheme: dark light;
}

body {
  position: relative;
  margin: 0;
  max-width: 800px;
  background-color: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

.back {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.4rem;
  background-color: red;
  user-select: none;
  cursor: pointer;
}

.back::after {
  position: absolute;
  content: "\274C";
  left: 0;
  color: white;
  font-weight: 800;
}

code {
  background-color: #eeeeaa;
  color: #222222;
  padding: 0 0.2em;
}
pre > code {
  display: block;
  padding: 0.4em;
}

.taglist > a {
  display: inline-block;
  height: 1.6em;
  background: #203050;
  text-align: center;
  padding: 0.2em 0.6em;
  position: relative;
  margin-right: 1em;
  text-decoration: none;
  color: #fff;
}

.taglist > a::before {
  content: "#";
}

.taglist > a::after {
  content: "";
  border-top: 0.8em solid transparent;
  border-bottom: 0.8em solid transparent;
  border-left: 0.8em solid #203050;
  position: absolute;
  right: -0.8em;
  top: 0;
}
